$base-color: #0657a8;
$base-text-color: #666;

.product-detail {
  padding: 4rem 0;

  .section-title {
    position: relative;
    font-size: var(--text-xxl);
    font-weight: 700;
    text-align: center;
    padding: .5rem 0;

    &:after {
      position: absolute;
      content: '';
      width: 96px;
      height: 4px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--base-color);
    }
  }

  .product-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 0 auto;

    .product-detail-img {
      width: 100%;
      height: 100%;
      max-height: 640px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .product-content {
      margin: 2rem 0;
      padding: 2rem;
      background: #f5f5f5;


      ul {
        display: flex;
        margin: 0;
        padding: 0;

        li {
          margin-right: 1rem;
          list-style: none;
          text-align: center;

          img {
            height: 24px;
          }

          div {
            margin-top: .25rem;
            font-size: var(--text-xs);
          }
        }
      }

      .product-details-table {
        th,
        td {
          font-size: var(--text-sm);
        }
      }
    }
  }

}
