:root {
  --base-color: #0657a8;
  --base-text-color-primary: #333;
  --base-text-color-secondary: #666;

  --fw-bold: 600;

  --shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  --gutter: 8px;
}



$base-color: #0657a8;
$base-text-color: #666;
$gutter: 8px;
