$base-color: #0657a8;
$base-text-color: #666;
$gutter: 8px;

#toolbar {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
  padding: 8px 0;

  .toolbar-content {
    display: flex;
    justify-content: space-between;

    .contact {
      display: flex;
      align-items: center;

      .contact-item {
        display: flex;
        align-items: center;
        margin-right: $gutter * 4;

        i {
          font-size: var(--text-base-size);
          color: $base-color;
          margin-right: $gutter;
        }

        span {
          color: $base-text-color;
          font-size: var(--text-sm);
        }

        &:hover {
          span {
            color: $base-color;
          }
        }
      }
    }

    .social-media {
      display: flex;
      justify-content: flex-end;

      .social-media-icon {
        margin-left: 1rem;
        border: 1px solid #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        color: #666;

        &:hover {
          background: #fff;
        }

        i {
          margin: 8px 8px
        }
      }

      .facebook {
        &:hover {
          background: #4867aa;
          border: 1px solid #4867aa;
          color: #fff;
        }
      }

      .twitter {
        &:hover {
          background: #4c9be5;
          border: 1px solid #4c9be5;
          color: #fff;
        }
      }

      .instagram {
        &:hover {
          background: #df002d;
          border: 1px solid #df002d;
          color: #fff;
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .toolbar-content {
      .contact {
        .contact-item {
          margin-right: $gutter * 1;
          border: 1px solid #eaeaea;
          display: flex;
          align-items: center;
          width: 32px;
          height: 32px;
          color: #666;

          &:hover {
            background: #fff;
          }

          i {
            font-size: var(--text-base-size);
            color: $base-text-color;
            margin-right: $gutter;
            margin: 8px;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}

#navbar {
  width: 100%;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 72px;

  .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .navbar-brand {
      position: absolute;
      top: 0;
      left: 0;
      height: 96px;
      width: 96px;
      background: #fff;
      border-bottom: 4px solid $base-color;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      z-index: 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .navbar-menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 72px;

      a {
        font-size: var(--text-sm);
        font-weight: 600;
        color: $base-text-color;
        margin-left: 1rem;
        border-bottom: 2px solid transparent;
        transition: all .2s ease-in-out;

        &:active,
        &:hover,
        &.active-link {
          color: $base-color;
          border-color: $base-color;
        }
      }

      // a.active-link {
      //   color: $base-color;
      //   border-color: $base-color;
      // }

      a.navbar-contact-link {
        color: #fff;
        background-color: $base-color;
        padding: 1rem 2rem;
        transition: all .2s ease-in-out;

        &:active,
        &:hover {
          background-color: lighten($base-color, $amount: 5);
        }
      }
    }

    .mobile-navbar-menu {
      display: none;
    }
  }

  @media only screen and (max-width: 900px) {
    .container {
      .navbar-brand {
        left: 50%;
        transform: translateX(-50%);
      }

      .navbar-menu {
        display: none;
      }

      .mobile-navbar-menu {
        height: 72px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
