$base-color: #0657a8;
$base-text-color: #666;

#splide-container {
    height: 50vh;
    width: 100%;
    margin-top: 120px;

    .splide {
        height: 100%;

        .splide__track {
            height: 100%;

            .splide__list {
                height: 100%;

                .splide__slide {
                    a {
                        display: flex;
                        height: 100%;

                        .text-area {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            flex-basis: 50%;
                            padding: 4rem 4rem;
                            color: $base-text-color;
    
                            .splide-title-first {
                                font-weight: 400;
                                color: #333;
                            }
    
                            .splide-title-second {
                                font-weight: 600;
                                color: #333;
                            }
    
                            .splide-text {
                                
                            }
    
                            .splide-button {
                                border: 2px solid #333;
                                padding: 1rem 2rem;
                                color: #333;
                                font-weight: 600;
                                font-size: 14px;
                                transition: all .2s ease-in-out;
    
                                &:active,
                                &:hover {
                                    background-color: $base-color;
                                    border-color: $base-color;
                                    color: #fff;
                                }
                            }
                        }
    
                        .img-area {
                            flex-basis: 50%;
                            height: 100%;
                            background-color: #eaeaea;
    
                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                            }
                        }

                        @media only screen and (max-width: 900px) {
                            .text-area {
                                display: none;
                            }

                            .img-area {
                                flex-basis: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}